@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
      @apply bg-black text-white;
    }

    .custom-underline::after{
      content: '';
      position: absolute;
      bottom: 0;
      left: 25%;
      width: 50%;
      height: 2px;
      background-color: red;
      
    }
  }
  

 